body {
    font-family: Poppins, Roboto, sans-serif;
}

.navbar {
    height: 100px;
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    width: 850px;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.1em;
}

.nav-links ul {
    list-style: none;
    color: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-links,  a {
    color: black;
    text-decoration: none;
    margin-left: 45px;
}

.logo {
    font-size: 1.45em;
    cursor: pointer;
    margin: 20px 10px;
    white-space: nowrap;
}

@media (max-width: 1200px) {
    .navbar {
        width: 800px;
        transition: all 0.3s ease;
    }
}

@media (min-width: 1201px) {
    .navbar {
        width: 1100px;
        transition: all 0.3s ease;
    }
}

@media (max-width: 900px) {
    .nav-links {
        display: none;
    }
}

