<%- include('partials/nav') %>
<%- include('partials/navbar') %>


    <div class="hello-main">
        <div class="intro-section">
            Hello! I'm <span class="intro-name">Brandon Luna.</span>
        </div>
        <div class="job-title"> 
            Full-Stack Developer
        </div>
        <div class="intro-bio"> 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Quia et ad voluptatibus atque porro accusantium eos! Iste 
            delectus, ipsum consectetur nobis officiis repellendus fugit 
            mollitia in quis quaerat quidem rem!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Quia et ad voluptatibuciis repellendus fugit 
            mollitia in quis quaerat quidem rem!
            olor sit amet consectetur adipisicing elit. 
            Quia et ad voluptatibuciis repellendus fugit 
            mollitia in quis quaerat quidem rem!
        </div>
    </div>

    <div class="main-buttons">
        <a href="/contacts" id="contact-button">Get in touch</a>
        <a href="/projects" id="project-button">View my work</a>
    </div>

    <div class="about-me-section">
        <p class="section-headings">About Me</p>
        <p class="journey">My Journey</p>
        <div class="about-me">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Laboriosam unde debitis veritatis vero totam optio corrupti la
            bore accusarferendis volupta
            tes aspernatur quibusdam distinctio? Nostrum, nisi.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Laboriosam unde debitis veritatis vero totam optio corrupti la
            bore accusarferendis volupta
            tes aspernatur quibusdam distinctio? Nostrum, nisi.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Laboriosam unde debitis veritatis vero totam optio corrupti la
            bore accusarferendis volupta
            tes aspernatur quibusdam distinctio? Nostrum, nisi.
        </div>
    </div>


<%- include('partials/footer') %>