body {
    font-family: Poppins, Roboto, sans-serif;
}

/* navigation bar */
.navbar {
    margin: 0 auto;
    display: flex;
    max-width: 1100px;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    transition: all 0.3s ease;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1em;
}

.nav-links ul {
    list-style: none;
    color: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-links,  a {
    text-decoration: none;
    margin-left: 45px;
    color: #3f3f46;
    font-weight: 500; 
}

.logo {
    font-size: 1em;
    cursor: pointer;
    margin: 20px 10px;
    white-space: nowrap;
    color:  #507C7C;
    font-size: 1.5em;
}

.hamburger {
    font-size: 1.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    cursor: pointer;
}

.dropdown {
    display: none;
}

/* main body */
.hello-main {
    display: flex;
    margin-top: 8rem;
    flex-direction: column;
    align-items: center;
}

.intro-section {
    margin-bottom: 10px;
    font-size: 3.5rem;
    text-align: center;
}

.intro-name {
    color: #507C7C;
}

.job-title {
    font-size: 2.2em;
    margin-bottom: 35px;
    text-align: center;
    color: #71717A;
}

.intro-bio {
    text-align: center;
    max-width: 900px;
    color: black;
}

a:hover {
    color: #507C7C;
    transition: color 0.2s;
}

hr {
    opacity: 0.25;
    max-width: 1100px;
    margin-top: 85px;
}

.main-buttons {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    gap: 20px;
}

#contact-button {
    background-color: #507C7C;
    border-radius: 10px;
    color: white;
    padding: 10px;
}

#project-button {
    background-color: white;
    border-radius: 10px;
    color: black;
    border: 1px solid #ccc;
}

#contact-button, #project-button {
    flex: 1;
    max-width: 120px; 
    text-align: center;
    padding: 11px 0;
    font-size: 14px;
    margin: 0;
}

#contact-button:hover {
    opacity: 0.85;
}

#project-button:hover {
    color: #507C7C;
    background-color: #fafafa;
    transition: background-color 0.3s, color 0.3s;
}

/* main sections of page */

.section-headings {
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 1.2em;
    font-size: 1.8em;
    margin-bottom: 0px;
}

.about-me {
    max-width: 900px;
    color: #71717A;
}

.about-me-section {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto;               
    padding-top: 5em;        
} 

.journey {
    display: flex;
    justify-content: start;
    font-size: 1.3em;
}

/* responsive */
@media (max-width: 1150px) {
    .navbar {
        max-width: 900px;
    }
}

@media (min-width: 1151px) {
    .navbar {
        max-width: 1100px;
    }
}

@media (max-width: 800px) {
    .hamburger {
        visibility: visible;
    }

    .dropdown {
        position: absolute;
        top: 80px;
        right: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        display: none;
        flex-direction: column;
        padding: 15px 0;
        text-align: left;
        width: 140px;
    }

    .dropdown.active {
        opacity: 1;
        display: flex;
        padding-top: 15px;
        padding-bottom: 15px;
    }
  
    .dropdown a {
        margin-left: 10px;
        margin-bottom: 5px;
    }

    .nav-links {
        display: none;
    }
  }

